* {
    font-family:Verdana, sans-serif;

}

.horiz {
    display:block;
    color:white;
    text-align:center;
    font-weight:bold;
    padding:14px 16px;
    text-decoration:none;

}

ul.nav {
    list-style-type:none;
    margin:0;
    padding:0;
    overflow:hidden;
    background-color: #3C4247;
    border:solid;
    width:100%;

}

li.nav {
    display:inline;
    float:left;
    font-size:20px;
}

li.nav:hover {
    background-color:#2793EC;
}

#homeheader {
    color:#035497;
    text-align:center;
    margin-top:3
}


#homebutton {
    background-color:#1161D5;
}

#hobbiesbutton {
    background-color:#1161D5;
}

#academicsbutton {
    background-color:#1161D5;
}



#familybutton {
    background-color:#1161D5;
}

#hometext {
    text-align:center;
    font-size:20px;

}

#hr {
    height:5px;
    width:50%;
    background-color:#030D4B;
}

#phslogo {
     margin-left: 50px;

}

div.schoolslist {
text-align:center;
background-color:#109585;
    color:#DDFFFB;
}

.numbers {
      display: inline-block;
  text-align: left;
}
#headingcolor {
    background-image:url("https://th.bing.com/th/id/R.dfd2e067c805666de682259262419878?rik=XTyg%2foN3xVmyuQ&riu=http%3a%2f%2fwallpapercave.com%2fwp%2fHLJMaFT.jpg&ehk=TqNhWQKPdjTbrdZx%2bgOsi5AUZ%2f2kztOW4bLWKO9Cp9E%3d&risl=&pid=ImgRaw&r=0");
}

div.classlist {
text-align:center;
background-color:#BCFFBD;
color:#014D16;
}
